
body{
    margin: 0;
    font-family: Sansation, sans-serif;
    text-align: center;

    --misty-rose: #ffe5ecff;
    --pink: #ffc2d1ff;
    --cherry-blossom-pink: #ffb3c6ff;
    --bakermiller-pink: #ff8fabff;
    --rose-pompadour: #fb6f92ff;
}


h1, h2, h3, p{
    text-shadow: 0 0 1px black;
    
}
.main{
    background-image: url('images/city-center.png');
    background-size: cover;
    background-position: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 600px;
}

#txt-1{
    box-shadow: 2px 2px 10px #21150d;
    font-size: 40px;
    margin: 5px auto;
    padding: 12px 12px;

    color: rgb(18, 16, 16);
    border-radius: 10px;
    background: var(--rose-pompadour);
}

#txt-2{
    box-shadow: 2px 2px 10px #21150d;
    font-size: 30px;
    margin: 10px auto;
    padding: 10px 15px;
    max-width: 40%;

    color: rgb(18, 16, 16);
    border-radius: 10px;
    background: var(--rose-pompadour);
}

#heading{
    color: rgb(4, 22, 6);
    background-color: var(--misty-rose);
    padding: 20px 0px 50px 0px;
}

#header{
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgb(87, 78, 78);
    
}

.activity{
    background-color: var(--misty-rose);
    background: cover;


    /* display: flex;
    justify-content: space-around;  
    align-items: center;
    flex-direction: row;  */
    /* padding: 60px 0px 50px 0px; */
}

.activities{
    display: flex;
    justify-content: space-around;  
    align-items: center;
    flex-direction: row;
}

.cricket{
    background-image: url('images/a-cricket-ball.png');
    background-size: cover;
    background-position: center;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 0 auto;
    box-shadow: 2px 2px 10px var(--rose-pompadour);
}

.museum{
    background-image: url('images/bihar-musiem.jpg');
    background-size: cover;
    background-position: center;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 0 auto;
    box-shadow: 2px 2px 10px var(--rose-pompadour);
}

.zoo{
    background-image: url('images/patna-zoo.jpeg');
    background-size: cover;
    background-position: center;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 0 auto;
    box-shadow: 2px 2px 10px var(--rose-pompadour);
}

.act-summ{
    font-size: 22px;
    font-weight: bold;
    margin: 10px auto;
    padding: 10px 15px;
    max-width: 50%;
}

.act-dtl{
    margin: 10px auto;
    padding: 10px 15px;
    max-width: 50%;
}

/* #cricket-ball{
    
}

#bihar-musuem{
    
   
}
#patna-zoo{
    
} */

.footer{
    background-color: yellow;
    background-size: cover;
    display: flex;
    align-items: center;
    background-color: var(--bakermiller-pink);
    border-radius: 12px;
    width: 700px;
    height: 450px;
    box-shadow: 0px 8px 3px rgb(3, 2, 2);
    margin: 100px auto;
}

.footer-img{
    background: url('images/mypic.JPG');
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 350px;
    padding: 10px 10px;
    border-radius: 20px;
    margin-left: 40px;
    
}

.footer-content{
    padding: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bld{
    font-weight: bold;
}
.itl{
    font-style: italic;
}

.over:hover{
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
}